In [14]:
SELECT IIF(v.USERNEV IS NULL, 'Ã–sszeg', v.USERNEV),
       COUNT(sz.SZALLAS_FK) AS 'foglalasok_szama'
FROM Vendeg v LEFT JOIN Foglalas f ON v.USERNEV = f.UGYFEL_FK
     LEFT JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
GROUP BY ROLLUP(v.USERNEV)

: Query failed: Invalid argument